@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  list-style: none;
}

.App {
  // text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: white;
  border-bottom: 1px gray solid;
  box-shadow: 0 1px 2px hsl(0, 0%, 52%);
}

.body-container {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
  }
  &-countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 0 80px;
  }
}

.search {
  &-input {
    padding: 10px 50px;
    width: 30rem;
    border-radius: 10px;
  }
  &-regions {
    padding: 10px 30px;
    border-radius: 10px;
  }
}

body {
  background-color: hsl(0, 0%, 98%);
}

.country {
  &-container {
    font-size: 14px;
    width: 20rem;
    height: 30rem;
    background-color: white;
    border: 1px #f0f solid;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
    &-bottom {
      padding: 40px 30px;
    }
  }
  &-name {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 20px;
  }
  &-flag {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
  &-details {
    line-height: 25px;
  }
}

.semi-bold {
  font-weight: 600;
}