@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --primary-color: hsl(0, 0%, 98%);
  --secondary-color: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --box-shadow-color: hsl(0, 0%, 52%);
  --icon-filter: invert(0%);
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-color: var(--text-color);
$box-shadow-color: var(--box-shadow-color);
$icon-filter: var(--icon-filter);
// $secondary-color: hsl();

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  list-style: none;
  color: $text-color;
}

.App {
  // text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  // color: hsl(0, 0%, 52%);
  // color: hsl(0, 0%, 77%);
  // color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: $secondary-color;
  box-shadow: 0 0 4px $box-shadow-color;
  &-dark-mode {
    font-weight: 600;
    display: flex;
    & img {
      padding-right: 12px;
      width: 16px;
      filter: $icon-filter;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.body-container {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
  }
  &-countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 0 80px;
  }
}

.search {
  &-input {
    border: none;
    padding: 15px 50px;
    width: 30rem;
    border-radius: 5px;
    box-shadow: 0 0 3px $box-shadow-color;
    position: relative;
    background: url('../../images/search-outline.svg') no-repeat 17px 13px;
    background-size: 1.3rem;
    background-color: $secondary-color;
    &::placeholder {
      color: hsl(0, 0%, 52%);
      font-weight: 800;
    }
  }
  &-regions {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: $secondary-color;
    border: none;
    box-shadow: 0 0 3px $box-shadow-color;
  }
}

body {
  background-color: $primary-color;
}

.country {
  &-container {
    font-size: 14px;
    width: 20rem;
    height: 30rem;
    background-color: $secondary-color;
    box-shadow: 0 0 5px $box-shadow-color;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
    &-bottom {
      padding: 40px 30px;
    }
  }
  &-name {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 20px;
  }
  &-flag {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
  &-details {
    line-height: 25px;
  }
}

.semi-bold {
  font-weight: 600;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
  padding: 10px 40px;
  background-color: $secondary-color;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 4px $box-shadow-color;
  & img {
    padding-right: 10px;
    width: 20px;
    height: 20px;
    filter: $icon-filter;
  }
  &:hover {
    cursor: pointer;
  }
}

.details {
  display: flex;
  gap: 80px;
  justify-content: left;
  &-borders {
    padding-top: 50px;
    display: flex;
    & li {
      display: inline;
      &:nth-child(n+2) {
        padding: 0 8px;
        margin: 0 4px;
      }
    }
    &-country {
      box-shadow: 0 0 6px $box-shadow-color;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.specific-country {
  padding: 0 80px 80px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  &-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 60px;
  }
  &-name {
    padding: 0 0 40px 0;
  }
  &-details {
    width: 100%;
  }
  & .details-list {
    line-height: 33px;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 20px 40px;
  }
  .search {
    &-form {
      width: calc(100% - 100px);
    }
    &-input {
      width: 100%;
    }
  }

  .body-container-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .specific-country {
    flex-direction: column;
    padding: 0 40px 80px 40px;
    &-left {
      width: 100%;
    }
  }

  .back-button {
    margin: 40px 0 80px 40px;
  }

  .details {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    &-title {
      font-size: 18px;
    }
    &-dark-mode {
      font-size: 14px;
    }
  }
}